<% if @myresource_schedules.count > 0 %>

<b><div id="mySchedules_header" style="cursor:pointer;text-decoration:underline;">My Listings</div></b>
<br/>

<div id="mySchedules" style="display:none;">
	<table class="table">
	<tr>
	<th>From</th>
	<th>To</th>
	<th>When</th>
	</tr>
	<% @myresource_schedules.each do |resource_schedule| %>
	<tr>
		<td> <%= resource_schedule.startplace %> </td>
		<td> <%= resource_schedule.destination %> </td>
		<td> <%= resource_schedule.starttime %> </td> 
		<td> <%= link_to image_tag("search_icon.jpg"), startsearch_path(:listid => resource_schedule.id, :q => params[:q])%></td> 
	</tr>
	<% end %>
</div>


<%end%>
