<% @areas = getAreas %>

      From <%= select_tag(:startplace, options_for_select(@areas)) %>
      To <%= select_tag(:destination, options_for_select(@areas)) %>
      At  
      <div id="datepicker1" class="input-append date">
        <input data-format="dd/MM/yyyy" type="text" id="resource_schedule_startdate" name="resource_schedule_startdate" size="20" style="width:80px"></input>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
      <div id="timepicker1" class="input-append date">
        <input data-format="hh:mm" type="text" id="resource_schedule_starttime" name="resource_schedule_starttime" style="width:90px"></input>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
      Ready to Hire Cab?  <input id="resource_schedule_isreadytohire" style="" name="resource_schedule[isreadytohire]" type="checkbox" value="1"> 


<td> <%= link_to image_tag("search_icon.jpg"), find_path, :remote => true %></td> 

