<h1>Find Passenger</h1>
<table>
	<tr>
		<td>
			<%= render :partial => 'list' %>
		</td>
		<td>
			<%= render :partial => 'passsearch' %>
			<br>
			<%= render :partial => 'passresults' %>
			
		</td>
	</tr>
</table>

