<br/>
<br/>
<div class="row-fluid" style="display:inline-block; vertical-align: middle">
    <div class="span12">
        <span style="padding:5px">
            <% if @searchcriteria == "car" %>
    	       <a href="/search?q=fc" class="btn btn-primary btn-large active"><img src="/assets/icon_HireACar.png"> Find Cars</a>
            <%else%>
                <a href="/search?q=fc" class="btn btn-success btn-large active"><img src="/assets/icon_HireACar.png"> Find Cars</a>
            <%end%>
        </span>
        <span style="padding:5px">
            <% if @searchcriteria == "pass" %>
                <a href="/search?q=fp" class="btn btn-large  btn-primary active"><img src="/assets/icon_HirePassenger.png"> Find Passengers</a>
            <%else%>
                <a href="/search?q=fp" class="btn btn-large btn-success active"><img src="/assets/icon_HirePassenger.png"> Find Passengers</a>
            <%end%>

        </span>
        <span style="padding:5px">
            <% if @searchcriteria == "group" %>
                <a href="/search?q=gh" class="btn btn-large  btn-primary active"><img src="/assets/icon_GroupHire.png"> Group Hire a Car</a>
            <%else%>
                <a href="/search?q=gh" class="btn btn-large  btn-success active"><img src="/assets/icon_GroupHire.png"> Group Hire a Car</a>
            <%end%>
        </span>
    </div>
 </div>
<br/><br/><br/>
<% if @searchcriteria == "car" %>
	<%= render :partial => 'search' %>
<% else %>
	<%= render :partial => 'passsearch' %>
<% end %> 	
	<br/><br/>


<div id="search_div">
<% if @display == "empty" %>
	<%= render :partial => 'list' %>
<% else %>
	<%= render :partial => 'result' %>
<% end %>
</div>

