<br/>
<div class="row-fluid">
	<div class="span12">
		<h3>
				Let's get started ...
		</h3>
	</div>
</div>
<br/>
<div class="row-fluid" style="display:inline-block; vertical-align: middle">
    <div class="span4">
        <div class="well text-center">
<<<<<<< HEAD
    	   <a href="/search/q=fc" class="btn btn-primary btn-large active"><img src="/assets/icon_HireACar.png"> Find Cars</a>
=======
    	   <a href="/search?q=fc" class="btn btn-primary btn-large active"><i class="icon-white icon-plane"></i> Find Cars</a>
>>>>>>> 1e6b0df9c498fdd5c99810d1c010506e093241a2
        </div>
    </div>
    <div class="span4">
        <div class="well text-center">
<<<<<<< HEAD
        	<a href="/search/q=fp" class="btn btn-success btn-large  active"><img src="/assets/icon_HirePassenger.png"> Find Passengers</a>
=======
        	<a href="/search?q=fp" class="btn btn-success btn-large  active"><i class="icon-white icon-user"></i> Find Passengers</a>
>>>>>>> 1e6b0df9c498fdd5c99810d1c010506e093241a2
        </div>
    </div>
    <div class="span4">
        <div class="well text-center">
<<<<<<< HEAD
        	<a href="/search/q=gh" class="btn btn-warning btn-large  active"><img src="/assets/icon_GroupHire.png"> Group Hire a Car</a>
=======
        	<a href="/search?q=gh" class="btn btn-warning btn-large  active"><i class="icon-white icon-user"></i> Group Hire a Car</a>
>>>>>>> 1e6b0df9c498fdd5c99810d1c010506e093241a2
        </div>
    </div>
</div>
<br/><br/><br/>
<%= render :partial => 'search' %><br/><br/>

<div id="search_div">
<%= render :partial => 'list' %>
</div>

