<br/>
<div class="row-fluid">
	<div class="span12">
		<h3>
				Let's get started ...
		</h3>
	</div>
</div>
<br/>
<div class="row-fluid" style="display:inline-block; vertical-align: middle">
    <div class="span12">
        <span style="padding:5px">
    	   <a href="/search?q=fc" class="btn btn-primary btn-large active"><img src="/assets/icon_HireACar.png"> Find Cars</a>
        </span>
        <span style="padding:5px">
            <a href="/search?q=fp" class="btn btn-large  btn-success active"><img src="/assets/icon_HirePassenger.png"> Find Passengers</a>
        </span>
        <span style="padding:5px">
            <a href="/search?q=gh" class="btn btn-large  btn-warning active"><img src="/assets/icon_GroupHire.png"> Group Hire a Car</a>
        </span>
    </div>
 </div>
<br/><br/><br/>
<% if @searchcriteria == "car" %>
	<%= render :partial => 'search' %>
<% else %>
	<%= render :partial => 'passsearch' %>
<% end %> 	
	<br/><br/>


<div id="search_div">
<%= render :partial => 'list' %>
</div>

