<br/>
<div class="row-fluid">
	<div class="span12">
		<h3>
				Let's get started ...
		</h3>
	</div>
</div>
<br/>
<div class="row-fluid" style="display:inline-block; vertical-align: middle">
    <div class="span4">
        <div class="well text-center">
    	   <a href="/search?q=fc" class="btn btn-primary btn-large active"><img src="/assets/icon_HireACar.png"> Find Cars</a>
        </div>
    </div>
    <div class="span4">
        <div class="well text-center">
        	<a href="/search?q=fp" class="btn btn-success btn-large  active"><img src="/assets/icon_HirePassenger.png"> Find Passengers</a>
        </div>
    </div>
    <div class="span4">
        <div class="well text-center">
        	<a href="/search?q=gh" class="btn btn-warning btn-large  active"><img src="/assets/icon_GroupHire.png"> Group Hire a Car</a>
        </div>
    </div>
</div>
<br/><br/><br/>
<% if @searchcriteria == "car" %>
	<%= render :partial => 'search' %>
<% else %>
	<%= render :partial => 'passsearch' %>
<% end %> 	
	<br/><br/>


<div id="search_div">
<%= render :partial => 'list' %>
</div>

