<h1>Find Car</h1>
<table>
	<tr>
		<td>
			<%= render :partial => 'list' %>
		</td>
		<td>
			<%= render :partial => 'search' %>
			<br>
			<%= render :partial => 'results' %>
			
		</td>
	</tr>
</table>
